# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Temporary
tmp/
temp/

# Node
node_modules/

# Python
__pycache__/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# .NET
bin/
obj/

# Archives
*.zip
*.tar
*.gz